.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    margin: 60px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.cart-container{
    background-color: bisque;
}

.cart-details{
    position: sticky;
    top: 0;
    padding: 20px;
}
.order-title{
    text-align: center;
}